<h2>Forms</h2>
<div class="container">
    <h1>User Registration</h1>
    <form action="" #login="ngForm" (ngSubmit)="submit(login)">
        <div class="form-group">
            <label for="firstname">FirstName</label><br>
            <input type="text" #name="ngModel" pattern="[a-zA-Z]+$" name="firstname" class="form-control" ngModel required minlength="2" maxlength="7">
            <div *ngIf="name.touched && name.invalid" class="alert alert-danger">enter at least two alphabets</div>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="lastname">LastName</label><br>
            <!-- ngModel add validation tags like untouched valid ->check console -->
            <input type="text" required minlength="2" #lastname="ngModel" name="lastname" class="form-control" ngModel>
            <div *ngIf="lastname.touched && lastname.invalid"  class="alert alert-danger">Invalid lastname!!!</div>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="email">Email</label><br>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="password">Password</label><br>
            <input type="password" #pass="ngModel" required  name="password" class="form-control" ngModel>
            <div *ngIf="pass.touched && pass.invalid"  class="alert alert-danger">Invalid password!!!</div>
        </div>
        <pre></pre>
        <button [disabled]="login.invalid" class="btn btn-primary" type="submit" >Submit</button>
    </form>
</div>